#form {
    animation: fade 0s ease-in-out 4s backwards;
}

.flash {
    font-weight: normal;
    font-size: 50px;
    color: violet;
    animation: fade 0s ease-in-out 4s forwards;
    text-transform: uppercase;
}

.letter {
    font-weight: normal;
    font-size: 80px;
    color: violet;
    border-bottom: #ee8f8f 5px solid;
    /* display: inline; */
    margin: 3px;
    text-transform: uppercase;
    width: 75px;
    height: 100px;
    box-shadow: 0 30px 40px -20px rgb(90, 88, 88);
    text-align: center;
    margin-bottom: 20px;
}

.letter-input {
    font-weight: normal;
    font-size: 80px;
    color: rgb(114, 100, 114);
    border: none;
    border-bottom: #ee8f8f 5px solid;
    /* display: inline; */
    margin: 10px;
    text-transform: uppercase;
    width: 75px;
    height: 100px;
    box-shadow: 0 30px 40px -20px rgb(90, 88, 88);
    text-align: center;
}

.letter-input:focus {
    border-bottom: #f45b5b 5px solid;
    text-decoration: none;
}


.conatiner {
    display: flex;
}


.button,
button {
    /* border: none; */
    /* background-color: transparent; */
    font-size: 1.5rem;
    /* transition: all .3s ease-in-out; */
    color: #999999;
    text-transform: capitalize;
}

label {
    font-size: 1.5rem;
    color: blue;
    margin: 5px 5px;
    margin-top: 10px;

}

#wrongLabel {
    color: red;
}

#correctLabel {
    color: green;
}

#csvInput {
    width: 50%;
    height: 25px;
    display: block;
}

@keyframes fade {
    0% {
        color: rgb(127, 248, 46);
        opacity: 0;
    }

    50% {
        color: rgba(32, 42, 31, 0.634);
        opacity: 80;
        transform: translatex(-1.5rem) scale(1.03);
    }

    100% {
        color: rgb(255, 255, 255);
        opacity: 0;
    }
}